#viewing-options a{
    text-decoration: underline;
    margin-right: 10px;
}

.container-fluid {
    margin: 0px 0px;
    width: 100%;
}

.col-md-8 {
    max-width: 800px;
}

.col-md-4 {
    padding-left: 30px;
}

.comment-user-header {
    display: inline-block;
}

.owner-designation {
    background-color:#007bff;
    color: white;
    border-radius: 5px;
    padding: 0px 5px;
}

.comment-username {
    margin-right: 5px;
    font-weight: bold;
}

#owner-comment-separator {
    border-top: 2px solid black;
    margin: 10px 0px;
}

.section-title {
    font-size: 20px;
}

#scrollable-comments {
    /* If max-height was higher, and a resume had a lot of comments, the user wouldn't see
    the write comment box unless they scrolled down. We want the user to see the write
    comment box right away. */
    max-height: 400px;

    overflow-y: scroll;
}

.card {
    margin: 5px 0;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-width: 500px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.page-buttons-group {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: auto;
    margin-right: auto;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid #65615f;
    border-radius: 1px;
    border: none;
}

.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

#rating-section {

}

#rating-scale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.rating-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    border: 1px solid black;
    border-radius: 2px;
    width: 5%;
    transition: transform .2s
}

/* .rating-option:hover and .rating-option-selected should be the same */
.rating-option:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transform: scale(1.25);
}

.rating-option-selected {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transform: scale(1.25);
}
/* ------------------------------------------------------------------- */

.rating-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}

#ratingForm {
    display: none;
}

#submit-comment-button {
    display: inline-block;
    padding: 5px;

    /* Border should be same color as its background, since it should only be visible when hovered over
    We still need to include border so border spacing is consistent when hovered over */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

#submit-comment-button:hover {
    cursor: pointer;
    background-color: rgb(215, 215, 215);
    border: 1px solid rgb(150, 150, 150);
}