#viewing-options a{
    text-decoration: underline;
    margin-right: 10px;
}

.resume-info-top-line {
    /* If screen width gets too small, bring icon and text to next line together. */
    display: flex;
    flex-wrap: wrap;
}

.resume-info-top-line-element {
    margin-right: 10px;
    margin-bottom: 10px;
}

.resume-description {
    margin-bottom: 10px;
}

#embedded-pdf {
    /* Don't make user need to scroll horizontally if viewport width is too small */
    max-width: 100%;
}

#rating-scale {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0px;
    width: 500px;
}

.rating-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    /* border: 1px solid black; */
    border: 1px solid #cccdcf;
    border-radius: 2px;
    /* Remove width or min-width, and it collapses width-wise. I'm not sure why. */
    width: 10px;
    min-width: 5%;
    transition: transform .2s
}

/* .rating-option:hover and .rating-option-selected should be the same */
.rating-option:hover {
    background-color: #007bff;
    color: #F7F7F7;
    cursor: pointer;
    transform: scale(1.25);
}

.rating-option-selected {
    background-color: #007bff;
    color: #F7F7F7;
    cursor: pointer;
    transform: scale(1.25);
}
/* ------------------------------------------------------------------- */

.rating-label {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0px 5px; */
}

.rating-label-left {
    margin-right: 5px;
}

.rating-label-right {
    margin-left: 5px;
}

#ratingForm {
    display: none;
}

#submit-comment-button {
    display: inline-block;
    padding: 5px;

    /* Border should be same color as its background, since it should only be visible when hovered over
    We still need to include border so border spacing is consistent when hovered over */
    border: 1px solid #F7F7F7;;
    border-radius: 5px;
}

#submit-comment-button:hover {
    cursor: pointer;
    background-color: #cccdcf;
    border: 1px solid #cccdcf;
}

/* TODO: Needs to be applied sitewide */
/* .content {
    margin: 0 10%;
} */

.cursive-header {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;

    border-bottom: 1px solid #cccdcf;
    margin-bottom: 20px;
    margin-top: 35px;
}

#write-comment-area {
    padding-bottom: 20px;
}

.write-comment-input {
    /* Hold 3 lines of text before scrollbar appears */
    min-height: 95px;
    /* Do not expand vertically past space needed for max length of comment text, 2000 characters. */
    max-height: 395px;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccdcf;
    border-radius: 5px;
    /* Don't let user resize textarea horizontally */
    resize: vertical;
}

.write-comment-input:focus {
    outline: none !important;
}

.comment {
    margin-bottom: 30px;
}

.comment-user-header {
    display: inline-block;
}

.owner-designation {
    background-color:#007bff;
    color: #F7F7F7;
    border-radius: 5px;
    padding: 0px 5px;
}

.comment-username {
    margin-right: 5px;
}

.username-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.username-link:hover {
    color: inherit;
    text-decoration: underline;
}