#viewing-options a{
    text-decoration: underline;
    margin-right: 10px;
}

.resume-info-top-line {
    /* If screen width gets too small, bring icon and text to next line together. */
    display: flex;
    flex-wrap: wrap;
}

.resume-info-top-line-element {
    margin-right: 10px;
    margin-bottom: 10px;
}

.resume-description {
    margin-bottom: 10px;
}

#embedded-pdf {
    /* Don't make user need to scroll horizontally if viewport width is too small */
    max-width: 100%;
}

#rating-scale {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0px;
    width: 500px;
}

.rating-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px;
    border: 1px solid #cccdcf;
    border-radius: 2px;
    /* Remove width or min-width, and it collapses width-wise. I'm not sure why. */
    width: 10px;
    min-width: 5%;
    transition: transform .2s
}


.rating-option:hover,
.rating-option-selected {
    background-color: #0066d3;
    color: #F7F7F7;
    cursor: pointer;
    transform: scale(1.25);
}

.rating-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .rating-label {
        display: none; /* Leave more width to rating-options */
    }
}

.rating-label-left,
.rating-label-right {
    margin-right: 5px;
}

#ratingForm {
    display: none;
}

#write-comment-area {
    padding-bottom: 20px;
}

.write-comment-input {
    /* Hold 3 lines of text before scrollbar appears */
    min-height: 95px;
    /* Do not expand vertically past space needed for max length of comment text, 2000 characters. */
    max-height: 395px;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccdcf;
    border-radius: 5px;
    /* Don't let user resize textarea horizontally */
    resize: vertical;
}

.write-comment-input:focus {
    outline: none !important;
}

.comment {
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.comment-user-header {
    margin-bottom: 10px;
}

.comment-user-header > * {
    display: inline-block;
    margin-right: 5px;
}

.owner-designation {
    background-color:#007bff;
    color: #F7F7F7;
    border-radius: 5px;
    padding: 0px 5px;
}