.area {
    background-color: white;
    border: 1px solid #cccdcf;
    margin-bottom: 20px;
}

.area-header {
    padding: 5px;
}
.area-header:hover{
    cursor: pointer;
}

.table-container {
    margin: 10px;
}

/* Fixes bug where if a datatables table has only usernames that looked like numbers, datatables would align text right. */
table.dataTable th.dt-type-numeric,table.dataTable th.dt-type-date,table.dataTable td.dt-type-numeric,table.dataTable td.dt-type-date {
    text-align: left;
}

/* Make some datatables text labels smaller */
.dt-container label,
.dt-length select,
.dt-info {
    font-size: 14px;
}

.dt-length select {
    margin-right: 5px; /* Put some space between the # entries per page dropdown and label */
}

div.dt-container .dt-paging .dt-paging-button {
    padding: 0px; /* Remove excessive padding between datatables paging buttons */
}

/* Make paging arrows bigger */
.dt-paging-button.first,
.dt-paging-button.previous,
.dt-paging-button.next,
.dt-paging-button.last {
    font-size: 24px;
}

.header-name {
    /* Override default display of inline for span elements */
    display: inline-block;
    /* Make each header name occupy the same width so that each header quick info is aligned */
    width: 110px;
}

.header-quick-info {
    font-weight: bold;
}

#group-icon {
    margin-right: 10px;
}

.main-action-btn {
    display: inline-block; /* Needed for margin to have effect */
    margin-bottom: 15px; /* Put space between button and members area */
}

#inviteUsersSearchBar {
    margin-right: 0px;
    width: 100%
}