.area {
    border: 1px solid #cccdcf;
    border-radius: 5px;
}

.area-header {
    background-color: #cccdcf;
}
.area-header:hover{
    cursor: pointer;
}

/* Fixes bug where if a datatables table has only usernames that looked like numbers, datatables would align text right. */
table.dataTable th.dt-type-numeric,table.dataTable th.dt-type-date,table.dataTable td.dt-type-numeric,table.dataTable td.dt-type-date {
    text-align: left;
}

.header-name {
    /* Override default display of inline for span elements */
    display: inline-block;
    /* Make each header name occupy the same width so that each header quick info is aligned */
    width: 110px;
}

.header-quick-info {
    font-style: italic;
}