/* Don't show underlines when hovering over resume cards on home screen */
.a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
  }

.zoom-box {
    transition: transform .2s
}

.zoom-box:hover {
    transform: scale(1.05);
  }