.rmr-navbar {
    background-color: #007bff;
    border-bottom: 5px solid darkgray;
    padding: 0px 20px;
    /* Don't let page elements get too close to navbar */
    margin-bottom: 20px;
}

.nav-element {
    display: inline-block;
    color: white;
    padding: 10px 10px 10px 10px;
    height: 100%;
    text-decoration-line: none !important;
}

.nav-element:hover {
    background-color: white;
    color: #007bff;
}

.nav-element-right {
    float: right;
}

/* This will be the universal table for the site */
.table-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.table-container > table {
    width: 80%;
}

.table-container th, td {
    border-bottom: 1px solid rgb(205, 205, 205);
}