<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ratemyresume</title>

    <!-- External sources  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.min.css">
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Style+Script&display=swap" rel="stylesheet">


    {% load static %}
    {% comment %} Site-wide static files {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <script src="{% static 'base.js' %}"></script>

    {% block pageSpecificStaticFiles %}
    {% endblock %}
</head>
<body>
    <nav class="rmr-navbar" id="rmr-navbar">

        <!-- Could replace this with img logo later -->
        <a class="nav-element" href="{% url 'index' %}">ratemyresume</a>
        <a class="nav-element" href="{% url 'index' %}">Resumes</a>
        <a class="nav-element" href="{% url 'groups' %}">Groups</a>

        {% if user.is_authenticated %}
            <a class="nav-element nav-element-right" href="{% url 'logout' %}">Log out</a>
            <a class="nav-element nav-element-right" href="{% url 'user' request.user.id %}">Home</a>
        {% else %}
            <!-- TODO: MUST BE FIXED! I mention Sign up first, but it appears after Log in, likely due to CSS right align property. Can you fix for
            convenience? -->
            <a class="nav-element nav-element-right" href="{% url 'signup' %}">Sign up</a>
            <a class="nav-element nav-element-right" href="{% url 'login' %}">Log in</a>
        {% endif %}

        <a href="javascript:void(0);" class="nav-element icon" onclick="toggleNavbar()">
            <svg width="25px" height="25px" fill="#ffffff" viewBox="0 0 52 52" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M50,12.5H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"></path>
                    <path d="M50,28H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"></path>
                    <path d="M50,43.5H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"></path>
                </g>
            </svg>
        </a>
    </nav>


    {% comment %}Heros have their own block so they are not affected by the CSS styling of the content block, specifically
    the 10% right and left margin.{% endcomment%}

    {% block heros %}
    {% endblock %}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>