{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <script src="{% static 'login.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Log in</h1>

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ authenticationForm }}

    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit">Login</button>
  </form>

{% endblock %}