{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <script src="{% static 'login.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Log in</h1>




  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="username_id"><b>Username</b></label>
    <input id="username_id" type="text" placeholder="Username" name="username" required>

    <label for="password_id"><b>Password</b></label>
    <input id="password_id" type="password" placeholder="Password" name="password" required>

    <!-- <input type="submit" value="login"> -->
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit">Login</button>
  </form>

{% endblock %}