{% load humanize %}

{% comment %}
Usage:
In head:
(surround %% with brackets)
script src="% static 'resume_card.js' %"

(Surround with brackets {})
% include 'resume_card.html' with resume_id=resume.id user_id=resume.user.id user=resume.user resume_name=resume.name hasUserRated=resume.hasUserRated created_at=resume.created_at avgRating=resume.avgRating numRatings=resume.numRatings%
{% endcomment %}

<div class="resume-card" data-detailsurl="{% url 'details' resume_id %}" data-edit-url="{% url 'edit_resume' resume_id %}" data-resume-id="{{ resume_id }}">
    <div class="resume-id" style="display:none" data-url="{% url 'get_resume_preview_image' resume_id %}"></div>
    <div class="resume-image-skeleton">
        {% if hasUserRated %}
            <div class="resume-card-rated-checkmark" >
                <svg width="60px" height="60px" alt="Checkmark icon" viewBox="-1.4 -1.4 16.80 16.80" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                    <title>You have rated this resume</title>
                    <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.08399999999999999"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path fill="#adadad" d="M1.00000001 7.71134025l3.83505154 3.8041237 8.16494844-8.16494844-.86597938-.86597938L4.83505155 9.7835052 1.86597939 6.81443303z"></path>
                    </g>
                </svg>
            </div>
        {% endif %}
    </div>

    {% if avgRating is not None %}
        <div class="resume-card-avgrating" title="{{ avgRating }}/10 (Total ratings: {{ numRatings }})">{{ avgRating }}</div>
    {% endif %}

    {% if user == requestingUser %}
        <svg class="resume-card-menu" height="25px" width="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(90)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="2" transform="rotate(90 12 6)" fill="#6a6a6a"></circle> <circle cx="12" cy="12" r="2" transform="rotate(90 12 12)" fill="#6a6a6a"></circle> <path d="M12 20C10.8954 20 10 19.1046 10 18C10 16.8954 10.8954 16 12 16C13.1046 16 14 16.8954 14 18C14 19.1046 13.1046 20 12 20Z" fill="#6a6a6a"></path> </g>
        </svg>
    {% endif %}

    <!-- There is still the problem of text clipping out of the card or entering a second line if the resume name or username is too long -->
    <!-- If you ever figure out best way to fix this, the title attribute will let the user see the full value even if text is shortened to fit -->
    <div class="resume-card-name" title="{{ resume_name }}">{{ resume_name }}</div>

    <div class="resume-card-text">
        <a href="{% url 'user' user_id %}" class="username-link">{{ user }} </a>
    </div>

    <div class="resume-card-text txt-sm">{{ created_at|naturaltime }}</div>
</div>