{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
    <script src="{% static 'signup.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Create an account</h1>
<form id="signupForm" method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ signUpForm }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit">Sign up</button>
</form>
{% endblock %}