{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/groups.css' %}">
    <script src="{% static 'resumes/groups.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">Groups</h1>
<div class="page-description">Share resumes with friends.</div>


<div class="options">
    <form id="search" method="GET" action="">
        <input class="search-bar" type="text" name="query" placeholder="Search... (TODO)">
        <button class="darkblue-btn search-btn"  type="submit">Search</button>
    </form>

    <a class="darkblue-btn" href="{% url 'creategroup' %}">Create a group</a>
</div>


{% for group in groups %}
<div class="group-card" data-url="{% url 'grouppage' group.id %}">
    <div class="group-card-name">{{group.name}}</div>
    <div class="card-subheader"><a href="{% url 'user' group.owner.id %}" class="username-link">{{ group.owner }}</a></div>
    <p class="card-subheader">{{group.description}}</p>
    <div class="card-subheader">{{ group.members.count }} {% if group.members.count == 1 %}member{% else %}members{% endif %}</div>
</div>
{% endfor %}

{% endblock %}