{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/grouppage.css' %}">
    <script src="{% static 'resumes/grouppage.js' %}"></script>
{% endblock %}

{% block content %}


<h1>Private Group Page</h1>
<p>{{group.name}}</p>

{% if isOwner %}
    <p>You are the owner of this group</p>
    <a href="{% url 'sendinvite' group.id %}">Invite user</a>

{% else %}
    <p>This group is owned by {{ group.owner.username }}</p>
    {% if not isMember %}
    <form action="{% url 'sendrequest' group.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Request to join</button>
    </form>
    {% endif %}
{% endif %}


<h3>Join Requests</h3>
{% for joinRequest in joinRequestsPending %}
<p>{{joinRequest.user.username}}</p>
    {% if isOwner %}
        <form action="{% url 'acceptrequest' joinRequest.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Accept</button>
        </form>
        <form action="{% url 'rejectrequest' joinRequest.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Reject</button>
        </form>
    {% endif %}
{% endfor %}
<br>

<h3>Join Requests History</h3>
{% for joinRequest in joinRequestsHistory %}
<p>{{ joinRequest.user }} - {{ joinRequest.action}} - {{joinRequest.action_at}}</p>
{% endfor %}

<br>
<h3>Pending Invitations</h3>
{% for groupInvite in groupInvitesPending %}
    <p>{{groupInvite.invitee}}</p>
        {% if not isOwner %}
            <p>You have been invited to this group</p>
            <form action="{% url 'acceptinvite' groupInvite.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Accept</button>
            </form>
            <form action="{% url 'rejectinvite' groupInvite.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Reject</button>
            </form>
        {% endif %}
{% endfor %}
<br>
<h3>Invitations History</h3>
{% for groupInvite in groupInvitesHistory %}
<p>{{groupInvite.invitee}} - {{groupInvite.action}} - {{groupInvite.action_at}}</p>
{% endfor %}


<br>
<p>Members</p>
{% for member in group.members.all %}
<a href="{% url 'user' member.id %}">{{member.username}}</a>
{% endfor %}


{% endblock %}