{% extends 'base.html' %}
{% load humanize %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/grouppage.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/invite_user_select.css' %}">
    <script src="{% static 'resumes/grouppage.js' %}"></script>
    <script src="{% static 'resume_card.js' %}"></script>
{% endblock %}

{% block content %}


<h1 class="page-header">
    <img id="group-icon" src="{% static 'resumes/svg/group.svg' %}" alt="Group icon" height="40px" width="40px">
    {{ group.name }}
</h1>

<p>Owner: <a href="{% url 'user' group.owner.id %}" class="username-link">{{ group.owner.username }}</a></p>
<p class="lightgray txt-sm">Created {{ group.created_at|naturaltime }}</p>

{% if isOwner %}
    <a class="darkblue-btn main-action-btn" href="{% url 'sendinvite' %}" data-toggle="modal" data-target="#inviteModal">Invite user</a>
{% elif not isMember and not joinRequestsPending %}
    <form id="send-request-form" action="{% url 'sendrequest' group.id %}" method="post">
        {% csrf_token %}
        <button class="darkblue-btn main-action-btn" type="submit">Request to join</button>
        <div id="send-request-form-error" class="error-msg"></div>
    </form>
{% endif %}

<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Invite users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="searchUsersToInviteForm" method="GET" action="{% url 'user_search' %}" data-group-id="{{ group.id }}">
                <input id="inviteUsersSearchBar" class="search-bar" type="text" name="query" placeholder="Search by username, email, or name">

                {% comment %} group.id gets passed to view user_search, then gets passed to template invite_user_select.html
                so group id is accessible in view sendinvite {% endcomment %}
                <input type="hidden" name="group_id" value="{{ group.id }}">
            </form>

            <div id="userResults"></div>

        </div>
        <div class="modal-footer">
          <button type="button" class="darkblue-btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>


<div class="area">
    <div id="members-header" class="area-header">
        <img src="{% static 'resumes/svg/expand.svg' %}" alt="Expand icon">
        <span class="header-name">Members</span>
        <span class="header-quick-info">{{ group.members.all.count }}</span>
    </div>
    <div id="members-data" style="display:none">
        {% if group.members.all %}
        <div class="table-container">
            <table class="datatables" style="width: 100%">
                <thead>
                    <tr>
                        <th></th> <!-- Username column -->
                    </tr>
                </thead>
                <tbody>
                    {% for member in group.members.all %}
                    <tr>
                        <td>
                            <a href="{% url 'user' member.id %}" class="username-link">{{member.username}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>No members</p>
        {% endif %}
    </div>
</div>


<h2 class="sub-header">Resumes</h2>
<div class="resume-card-container">
    {% for resume in resumes %}
        {% include 'resume_card.html' with resume_id=resume.id user_id=resume.user.id user=resume.user requestingUser=request.user resume_name=resume.name hasUserRated=resume.hasUserRated created_at=resume.created_at avgRating=resume.avgRating numRatings=resume.numRatings %}
    {% endfor %}
</div>
{% endblock %}