{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/groups.css' %}">
    <script src="{% static 'resumes/groups.js' %}"></script>
{% endblock %}

{% block content %}
<h1 class="page-header">Groups</h1>
<div class="page-description">Share resumes with friends.</div>


<div class="options">
    <form id="search" method="GET" action="{% url 'group_search' %}">
        <input class="search-bar" type="text" name="query" placeholder="Search">
        <button class="darkblue-btn search-btn"  type="submit">Search</button>
    </form>

    <a class="darkblue-btn" href="{% url 'creategroup' %}">Create a group</a>
</div>

<h2 id="results-header" class="sub-header"></h2>
<div id="results-groups"></div>

<h2 class="sub-header">All</h2>
{% for group in groups %}
    {% include 'group_card.html' with group=group %}
{% endfor %}

{% endblock %}