{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/index.css' %}">
    <script src="{% static 'resumes/index.js' %}"></script>
    <script src="{% static 'resume_card.js' %}"></script>
{% endblock %}

{% block heros %}
    {% if not user.is_authenticated %}
        <div class="hero">
            <div class="hero-title gradient-blue">Get a rating from 0 to 10 for your resume.</div>
            <div class="hero-text">Real people, not robots, rate your resume.</div>
            <a class="hero-btn darkblue-btn" href="{% url 'upload' %}">Upload resume</a>
        </div>

        <div class="hero">
            <div class="hero-title gradient-orange">Get a rating <span class="italic">fast</span>.</div>
            <div class="hero-text">Many other resume-rating websites make you wait in line for a professional to review. Here, any user can rate your resume.</div>
        </div>

        <div class="hero">
            {% comment %}Must set style="chars:n" where n is number of characters in span. Use extra spaces to make animation wait
            before restarting. {% endcomment %}
            <div class="hero-title">See <span class="typewriter" style="--chars:15">comments.      </span></div>
            <div class="hero-text">Use feedback from other users to edit your resume.</div>
        </div>

        <div class="hero">
            <div class="hero-title gradient-lightblue">Join a group.</div>
            <div class="hero-text">Get rated by people that share your background and goals, and find inspiration in their resumes.</div>
            <a class="hero-btn darkblue-btn" href="{% url 'groups' %}">Explore groups</a>
        </div>

        <div class="hero">
            <div class="hero-title gradient-purple">Control who sees your resume.</div>
            <div class="hero-text">You can fine-tune the privacy settings of each resume you upload.</div>
        </div>

        <div class="hero hero-center bg-lightgray">
            <div class="hero-title">Completely free.</div>
            <div class="hero-text">No credit card required and no free-trial tricks.</div>
            <a class="hero-btn darkblue-btn btn-lg" href="{% url 'signup' %}">Create an account</a>
            <a class="btn-alt-option" href="{% url 'login' %}">I already have an account</a>
        </div>


    {% endif %}
{% endblock %}

{% block content %}

<h1 class="page-header">Resumes</h1>

<h2 class="sub-header">New</h2>
{% if new_resumes %}
    <div class="resume-card-container">
        {% for resume in new_resumes %}
            {% include 'resume_card.html' with resume_id=resume.id user_id=resume.user.id user=resume.user resume_name=resume.name hasUserRated=resume.hasUserRated created_at=resume.created_at avgRating=resume.avgRating %}
        {% endfor %}
    </div>
{% else %}
<!-- Why does it say no resumes are available when I log out? -->
    <p>No resumes are available.</p>
{% endif %}

<h2 class="sub-header">Highest Rated</h2>
{% if highest_rated_resumes %}
    <div class="resume-card-container">
        {% for resume in highest_rated_resumes %}
            {% include 'resume_card.html' with resume_id=resume.id user_id=resume.user.id user=resume.user resume_name=resume.name hasUserRated=resume.hasUserRated created_at=resume.created_at avgRating=resume.avgRating %}
        {% endfor %}
    </div>
{% else %}
<!-- Why does it say no resumes are available when I log out? -->
    <p>No resumes are available.</p>
{% endif %}

<h2 class="sub-header">Unrated</h2>
{% if unrated_resumes %}
    <div class="resume-card-container">
        {% for resume in unrated_resumes %}
            {% include 'resume_card.html' with resume_id=resume.id user_id=resume.user.id user=resume.user resume_name=resume.name hasUserRated=resume.hasUserRated created_at=resume.created_at %}
        {% endfor %}
    </div>
{% else %}
<!-- Why does it say no resumes are available when I log out? -->
    <p>No resumes are available.</p>
{% endif %}


{% endblock %}