{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/index.css' %}">
    <script src="{% static 'resumes/index.js' %}"></script>
    <script src="{% static 'resume_card.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Welcome to ratemyresume</h1>

{% if not user.is_authenticated %}
    <h1>some promotional content for the site here</h1>
{% endif %}

{% if resumes %}
    {% for resume in resumes %}
        {% include 'resume_card.html' with resume_id=resume.id user_id=resume.user.id user=resume.user resume_name=resume.name hasUserRated=hasUserRated created_at=resume.created_at %}
    {% endfor %}
{% else %}
<!-- Why does it say no resumes are available when I log out? -->
    <p>No resumes are available.</p>
{% endif %}


{% endblock %}