{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/index.css' %}">
    <script src="{% static 'resumes/index.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Welcome to ratemyresume</h1>
{% if resumes %}
{% for resume in resumes %}
{% if forloop.counter0|divisibleby:4 %}
    <div class="row">
{% endif %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="{{ resume.image_data }}" alt="First page of resume" width="auto" height="auto">
                    <h5 class="card-title">{{ resume.name }}</h5>
                    <p class="card-text">{{ resume.description }}</p>
                    <a href="{% url 'details' resume_id=resume.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
{% if forloop.last or forloop.counter0|add:1|divisibleby:4 %}
    </div>
{% endif %}
{% endfor %}
{% else %}
    <p>No resumes are available.</p>
{% endif %}
{% endblock %}