{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/invite.css' %}">
    <script src="{% static 'resumes/invite.js' %}"></script>
{% endblock %}

{% block content %}
<form id="ratingForm"
    method="post"
    action="{% url 'sendinvite' group_id=group_id %}"
    enctype="multipart/form-data">
    {{groupInviteForm}}
    {% csrf_token %}
    <button type="submit">Submit</button>
</form>
{% endblock %}