{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/upload.css' %}">
    <script src="{% static 'resumes/upload.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Upload Resume</h1>

    <div class="warning-box">
        <span class="warning-symbol">&#9888;</span>
        <p class="warning-text">Before uploading a resume, please remove any identifying information such as your name, email, phone number, and address.</p>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% comment %}width: fit-content ensures the default browser error message when a required file input is _blank
        is centered with the content instead of centered in the middle of the page since form-fields expand to fit the page{% endcomment%}
        <div class="form-field" style='width: fit-content;'>
            <label for="{{ form.file.id_for_label }}">Upload resume (pdf only)</label>
            {% comment %}TODO: Poor UX.{% endcomment %}
            <p>To convert any file type to pdf, use <a href="https://www.freeconvert.com/pdf-converter" target="_blank">freeconvert.com</a>.</p>
            {% comment %}TODO: Not a secure solution to verify pdf at all, but good enough for now.{% endcomment %}
            <input type="file" name="{{ form.file.name }}" id="{{ form.file.id_for_label }}" accept=".pdf" required>
            {% for error in form.file.errors %}
                <p class="error-msg">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-field">
            <label for="{{ form.name.id_for_label }}">If you had to refer to this specific resume, what name would you use?</label>
            {{ form.name }}
            {% for error in form.name.errors %}
                <p class="error-msg">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-field">
            <label for="{{ form.description.id_for_label }}">The description you put here will be displayed at the top of this resume's page:</label>
            {{ form.description }}
            {% for error in form.description.errors %}
                <p class="error-msg">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-field-thin">
            <div class="checkbox">
                {{ form.commentsEnabled }}
                <label for="{{ form.commentsEnabled.id_for_label }}">Allow comments</label>
            </div>
            {% for error in form.commentsEnabled.errors %}
                <p class="error-msg">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-field">
            <label for="{{ form.visibility.id_for_label }}">Visibility</label>
            {{ form.visibility }}

            <div class="checkbox">
                {{ form.groupsSharedWith }}
            </div>
            {% for error in form.visibility.errors %}
                <p class="error-msg">{{ error }}</p>
            {% endfor %}
            {% for error in form.groupsSharedWith.errors %}
            <p class="error-msg">{{ error }}</p>
            {% endfor %}
        </div>

        <button type="submit" class="blue-btn">Submit</button>
    </form>

{% endblock %}

