{% extends 'base.html' %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/user.css' %}">
    <script src="{% static 'resumes/user.js' %}"></script>
{% endblock %}

{% block content %}
{% if isUserHome %}
    <h1 class="page-header">Hello, {{user}}!</h1>
{% else %}
    <h1 class="page-header">{{ thisPageUsername }}'s resumes</h1>
{% endif%}



<h2 class="sub-header">Resumes</h2>

{% if isUserHome %}
<a href="{% url 'upload' %}">Upload a new resume</a>
{% endif %}

{% if resumes %}
<div class="table-container">
<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Ratings</th>
        <th>Comments</th>
        <th>Uploaded</th>
        <th></th> <!-- Abilities column -->
        </tr>
    </thead>
    <tbody>
        {% for resume in resumes %}
        <tr>
        <td>
            <a class="resume-name-in-table" href="{% url 'details' resume_id=resume.id %}">{{ resume.name }}
                <img class="resume-image-preview" src="{{ resume.imageData }}">
            </a>
        </td>

        {% if resume.avgRating %}
        <td>{{ resume.avgRating }} / 10</td>
        {% else %}
        <td>--</td>
        {% endif %}
        <td>{{ resume.numRatings }}</td>
        <td>{{ resume.numComments }}</td>
        <td>{{ resume.created_at }}</td>
        <td><a href="{% url 'view_pdf' resume.id %}" target="_blank">Open in fullscreen</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% else %}
<p>No resumes</p>
{% endif %}

{% if isUserHome %}
<h2 class="sub-header">Group Invites</h2>
<!-- need to make sure this is just the user's group invites -->
    {% if groupInvites %}
        {% for groupInvite in groupInvites %}
            <form action="{% url 'acceptinvite' groupInvite.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Accept Invitation to {{groupInvite.group.name}}</button>
            </form>
            <form action="{% url 'rejectinvite' groupInvite.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Reject</button>
            </form>
        {% endfor %}
    {% else %}
        <p>No pending invitations</p>
    {% endif %}
{% endif %}

{% endblock %}