{% extends 'base.html' %}
{% load humanize %}

{% load static %}
{% block pageSpecificStaticFiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumes/user.css' %}">
    <script src="{% static 'resumes/user.js' %}"></script>
    <script src="{% static 'resume_card.js' %}"></script>
    <script src="{% static 'group_activity_card.js' %}"></script>
    <script src="{% static 'group_card.js' %}"></script>
{% endblock %}

{% block content %}
{% if isUserHome %}
    <h1 class="page-header">Home</h1>
    <p class="page-description">Hello, {{ user }}! This is your homepage, where you can view your resumes and see alerts from groups.</p>
{% else %}
    <h1 class="page-header">{{ thisPageUsername }}</h1>
    <p class="page-description">You are viewing {{ thisPageUsername}}'s page.</p>
{% endif%}



<h2 class="sub-header">Resumes</h2>

<div class="resume-card-container">
    {% if isUserHome %}
    <div class="resume-card blank-upload-card" data-url="{% url 'upload' %}">
        <div class="plus-sign">+</div>
        <div>Upload new resume</div>
    </div>
    {% endif%}

    {% for resume in resumes %}
        {% include 'resume_card.html' with resume_id=resume.id user_id=resume.user.id user=resume.user resume_name=resume.name hasUserRated=resume.hasUserRated created_at=resume.created_at avgRating=resume.avgRating numRatings=resume.numRatings %}
    {% endfor %}
</div>



{% if isUserHome %}
    {% if groupInvites %}
        <h2 class="sub-header">Group Invites</h2>
        <!-- need to make sure this is just the user's group invites -->
        {% for groupInvite in groupInvites %}

            <div class="group-notif-card">
                <div class="group-notif-text">
                    <div><a href="{% url 'user' groupInvite.group.owner.id %}" class="username-link">{{ groupInvite.group.owner}}</a> invited you to join <a href="{% url 'grouppage' groupInvite.group.id %}" class="group-link bold">{{ groupInvite.group.name}}</a>. <span class="lightgray">{{ groupInvite.created_at|naturaltime }}</span></div>
                </div>

                <div class="group-notif-options">
                    <form class="accept-invite" data-url="{% url 'acceptinvite' groupInvite.id %}" method="post">
                        {% csrf_token %}
                        <button class="darkblue-btn" type="submit">Accept</button>
                    </form>

                    <form class="reject-invite" data-url="{% url 'rejectinvite' groupInvite.id %}" method="post">
                        {% csrf_token %}
                        <button class="red-btn" type="submit">Reject</button>
                    </form>
                </div>
            </div>

        {% endfor %}
    {% endif %}
{% endif %}

<h2 class="sub-header">Groups</h2>
{% if groups %}
    {% for group in groups %}
        {% include 'group_card.html' with group=group %}
    {% endfor %}
{% else %}
    {% if isUserHome %}
        <p>You are not in any groups.</p>
    {% else %}
        <p>{{ thisPageUsername }} is not in any groups.</p>
    {% endif %}
{% endif %}

{% endblock %}